{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="details">
        <h1>Contact me:</span></h1>
        <a href="mailto:kodraliukaltrim@gmail.com">Email Me</a>
        <a href="tel:+38345624785">Contact: +38345624785</a> 
        <a href="https://www.linkedin.com/in/kaltrim-kodraliu-1838081aa/">Linkedin</a>
    </div>
    <div class="images">
        <img src="{% static 'images/contact.jpeg' %}" class="photo">
    </div>
</div>
{% endblock %}